<div id="container">
  <% h = [1, 3, 5] %>
  <ul class="ontop hidden" id="marque">
    <% 3.times do %>
    <li><marquee behavior=scroll direction="left" scrollamount="<%= h.sample %>" class="blending float"><%= @city.first.name %></marquee></li>
    <% end %>
  </ul>
  <span class="swag">
    <% @city.each do |city| %>
    <span class="custom float city-name"><%= city.name.upcase %>
<!--       <span class="flag">
        <% city.flag %>
      </span> -->
    </span>
    <div class="ontop">
      <% city.pictures.each do |picture| %>
      <div class="photo">
        <%= image_tag picture.url %>
      </div>
      <!--   <div class="photo dot hidden" style="background-image: <%#= picture.url %>;"></div> -->
      <% end %>
    </div>
    <% end %>
  </span>
</div>

<div class="test">
  <%= @city.first.name %>
</div>
